.hero {
    position: relative;
    font-style: normal;
    display: flex;
    align-items: center;

    margin-bottom: 32px;

    img {
        width: 100vw;
        height: 223px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left center;
        object-position: left center;
        border-radius: 25px;
        background: black;
        mix-blend-mode: darken;
    }
}
.collapsCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;

    .collapsible {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ff6060;
        color: white;
        cursor: pointer;
        padding: 18px;
        border: none;
        outline: none;
        font-size: 16px;
        height: 47px;
        width: 80%;
        border-radius: 5px;
    }

    .content {
        padding: 32px 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
        color: rgba(255, 96, 96, 1);
        width: 80%;
        border-radius: 0 5px;
        line-height: 35px;
        font-size: 24px;
        font-weight: 400;
        p {
            padding-left: 32px;
            padding-right: 16px;
        }
    }
}
// .hero {
//     position: relative;
//     font-style: normal;
//     display: flex;
//     align-items: center;
//     margin-left: 64px;
//     margin-right: 64px;
//     margin-bottom: 32px;

//     img {
//         width: 100vw;
//         height: 223px;
//         -o-object-fit: cover;
//         object-fit: cover;
//         -o-object-position: left center;
//         object-position: left center;
//         border-radius: 25px;
//         background: black;
//         mix-blend-mode: darken;
//     }
// }
// .collapse {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     .collapsible {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         background-color: #ff6060;
//         margin-bottom: 32px;
//         color: white;
//         cursor: pointer;
//         padding: 18px;
//         border: none;

//         outline: none;
//         font-size: 16px;
//         height: 47px;
//         width: 80vw;
//         border-radius: 5px;
//     }

//     .active,
//     .collapsible:hover {
//         color: white;
//     }

//     .collapsible:after {
//         content: '\2304';
//         color: white;
//         font-weight: 700;
//         float: right;
//         margin-left: 5px;
//     }

//     .active:after {
//         content: '\2303';
//     }

//     .content {
//         padding: 0 18px;
//         // max-height: 0;
//         overflow: hidden;
//         transition: max-height 0.2s ease-out;
//         background-color: #f1f1f1;
//     }
// }
