/* Top bar */
.top-bar {
    margin-top: 32px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    .logo {
        height: 48px;
        margin-left: 16px;
    }

    // .navigation {
    //   margin-right: 16px;
    //   color: #ff6060;
    // }
    .App-link {
        margin-left: 16px;
        color: #ff6060;
        text-decoration: none;
        &:hover {
            color: #ff5905;

            border-bottom: 1px solid #ff6060;
        }
    }
}
