@import 'abstract/variables';

.top-bar {
    margin: 32px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .logo {
        height: 48px;
        margin-left: 16px;
    }

    .Header-link {
        display: flex;
        font-size: 24px;
        font-weight: 500;
        gap: 64px;

        .App-header-link {
            color: $primary-color;
            text-decoration: none;
            &:hover {
                color: #ff5905;
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .top-bar {
        width: 100vw;
        margin: 0;
        height: 64px;

        .App-logo {
            width: 135px;
            margin: 16px;
        }
        .Header-link {
            display: flex;
            font-size: 15px;
            font-weight: 400;
            width: 100%;
            gap: 1px;
            margin: 16px;

            .App-header-link {
                width: 100%;
                &:hover {
                    border-bottom: 2px solid $primary-color;
                }
            }
        }
    }
}
