@import 'abstract/variables';

.heroHome {
    .hero h1 {
        width: 100%;
        color: $tertiary-colors;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        position: absolute;
        top: 50px;
    }
    .hero img {
        object-fit: cover;
        border-radius: 20px;
        object-position: center 44%;
        -webkit-filter: opacity(0.7) brightness(0.8);
        filter: opacity(0.7) brightness(0.8);
    }
}

.locationCards {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;

    flex-wrap: wrap;
    padding: 32px 16px;
    a {
        text-decoration: none;
    }

    .card {
        width: 30%;

        max-height: 30%;
        border-radius: 15px;
        background-color: $primary-color;
        background: linear-gradient(rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.5));

        .imgAppt {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
            object-position: center;
            background: rgba(0, 0, 0, 0.5);
        }

        .cardP {
            position: relative;
            bottom: 100px;
            width: 80%;
            color: $tertiary-colors;
            font-weight: 500;
            padding-left: 16px;
            &:hover {
                background: rgba(0, 0, 0, 0.313);
                transform-origin: bottom left;
                transition: 1.5s;
                border-radius: 0 10px 10px 0;
            }
        }
    }
}
