@import 'abstract/variables';

.heroHome {
    overflow: hidden;
    border-radius: 20px;
    height: 250px;

    .hero img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center 44%;
        object-position: center 44%;
        -webkit-filter: opacity(0.8) brightness(0.6);
        filter: opacity(0.8) brightness(0.6);
    }
    .hero h1 {
        width: 100%;
        color: $tertiary-colors;
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        position: absolute;
    }
}

.locationCards {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    flex-wrap: wrap;
    padding: 32px 16px;
    a {
        text-decoration: none;
    }

    .card {
        width: 30%;
        max-height: 30%;
        border-radius: 20px;
        background-color: $primary-color;
    }
    .imgAppt {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        background: rgba(0, 0, 0, 0.5);

        border-radius: 20px;
    }

    .cardP {
        position: relative;
        bottom: 100px;
        width: 80%;
        color: $tertiary-colors;
        font-weight: 500;
        font-size: 20px;
        padding-left: 16px;
        &:hover {
            background: rgba(0, 0, 0, 0.313);
            transform-origin: bottom left;
            transition: 1.5s;
        }
    }
}

@media only screen and (max-width: 768px) {
    .heroHome {
        border-radius: 10px;

        height: 111px;
        .hero img {
            height: 111px;
            width: 100vw;
        }

        .hero h1 {
            font-size: 25px;
            text-align: left;
            top: 0;
            left: 10px;
        }
    }

    .locationCards {
        background: none;
        flex-direction: column;

        .card {
            height: 250px;
            width: 100%;
            border-radius: 20px;
        }
    }
}
