@import 'abstract/variables';
.slider {
    position: relative;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    img {
        width: 100%;
        height: 425px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left center;
        object-position: left center;
        border-radius: 25px;
        background: black;
        mix-blend-mode: darken;
    }

    .chevrons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        .chevronSlider {
            padding-left: 16px;
            padding-right: 16px;
            color: $tertiary-colors;
            z-index: 2;
            font-size: 48px;
            display: flex;
            position: relative;
        }
        .slider-Counter {
            position: absolute;
            width: 100%;
            font-size: 20px;
            text-align: center;
            color: $tertiary-colors;
            bottom: -150px;
            &:hover {
                background: rgba(0, 0, 0, 0.313);
            }
        }
    }
}

.logement-page {
    display: flex;
    justify-content: space-between;

    .logementNameLoc {
        color: $primary-color;

        .logementTittle {
            font-size: 32px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            font-weight: 500;
        }

        .Localisation {
            font-size: 18px;
            line-height: 20px;
            display: flex;
            align-items: flex-end;
            font-weight: 500;
        }
    }

    .tags {
        display: flex;
        gap: 16px;
        padding-left: 0;
        .tag {
            color: $tertiary-colors;
            width: 150px;
            height: 25px;
            background-color: $primary-color;
            border-radius: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 20px;
            font-weight: 500;
            font-size: 14px;
        }
        :hover {
            opacity: 0.9;
        }
    }

    .logement-page__subtitle {
        display: flex;
        align-items: end;
        flex-direction: column;
        margin-bottom: 48px;

        .host {
            display: flex;
            justify-content: space-between;
            gap: 16px;
            margin-bottom: 16px;

            .name {
                color: $primary-color;
                font-size: 18px;
                font-weight: 500;
                display: flex;
                width: 60%;
                align-items: end;
                text-align: right;
            }
            .picture {
                border: 1px solid $secondary-colors;

                border-radius: 50px;
                width: 64px;
                height: 64px;
            }
        }

        .rating {
            display: flex;
            font-weight: 700;
            font-size: 32px;
            gap: 16px;
            .fa-star {
                font-weight: 700;
                color: $secondary-colors;
            }
            :hover {
                color: $primary-color;
            }
        }
    }
}

.CollapseRegroupement {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5%;

    > div {
        flex: 1;
        .collapsible,
        .content {
            width: 100%;
        }
        .content {
            min-height: 300px;
            li {
                list-style: none;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    body {
        margin-left: 8px;
        margin-right: 8px;
    }
    .slider {
        width: 100%;
        overflow: hidden;
        height: 250px;
        border-radius: 20px;
        .slider-Counter {
            display: none;
        }
    }
    .logement-page {
        justify-content: center;
        flex-wrap: wrap;
        width: 99%;

        .logementNameLoc {
            width: 96%;

            .logementTittle {
                font-size: 18px;
                line-height: 26px;
            }
            .Localisation {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .tags {
            align-items: flex-start;
            .tag {
                border-radius: 5px;
                width: 100px;
                height: 20px;
                line-height: 14px;
                font-size: 10px;
            }
        }

        .logement-page__subtitle {
            width: 100vw;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            flex-direction: row-reverse;
            margin-bottom: 16px;
            .host {
                align-items: center;
                margin-bottom: 0;
                .name {
                    width: 80px;
                    font-size: 20px;
                    flex-wrap: wrap;
                }
            }

            .rating {
                width: 98px;
                font-size: 18px;
                text-align: left;
            }
        }
    }

    .CollapseRegroupement {
        width: 100%;

        flex-wrap: wrap;
    }
}
