.hero {
    position: relative;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 32px;

    img {
        width: 100vw;
        height: 423px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left center;
        object-position: left center;
        border-radius: 25px;
        background: black;
        mix-blend-mode: darken;
    }

    .chevrons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        color: white;
        z-index: 2;

        .chevronG {
            display: flex;
            border: 1px solid red;
        }
        .chevronD {
            display: flex;
            position: relative;
            border: 1px solid red;
        }
    }
}

.collapse-Logement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
    gap: 128px;

    .collapsible {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ff6060;
        color: white;
        cursor: pointer;
        padding: 18px;
        border: none;
        outline: none;
        font-size: 16px;
        height: 47px;
        width: 80%;
        border-radius: 5px;
    }

    .content {
        padding: 32px 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
        color: rgba(255, 96, 96, 1);

        border-radius: 0 5px;
    }
}
