@import 'abstract/variables';

.notfound {
    font-weight: 700;
    font-size: 200px;
    line-height: 150px;
    text-align: center;
    color: $primary-color;
}

.pNotFound {
    align-items: center;
    font-weight: 500;
    font-size: 36px;

    text-align: center;
    color: $primary-color;
}
.backtoHome {
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: $primary-color;
    position: relative;
    bottom: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;
    margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {
    .notfound {
        font-size: 170px;
    }

    .pNotFound {
        font-size: 18px;
    }
    .backtoHome {
        font-size: 14px;
    }
}
