body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

main {
  margin-left: 64px;
  margin-right: 64px;
}

.not-display {
  display: none;
}

.icon-rotate {
  transform: rotate(180deg);
}

/* Top bar */
.top-bar {
  padding-left: 80px;
  padding-right: 80px;
  margin: 32px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.top-bar .logo {
  height: 48px;
  margin-left: 16px;
}
.top-bar .App-link {
  margin-left: 16px;
  color: #ff6060;
  text-decoration: none;
}
.top-bar .App-link:hover {
  color: #ff5905;
  border-bottom: 1px solid #ff6060;
}

.footer {
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 32px 0;
}
.footer .footer-logo {
  height: 48px;
  margin-bottom: 16px;
}

.main .notfound {
  font-weight: 700;
  font-size: 288px;
  line-height: 410.69px;
  text-align: center;
  color: #ff6060;
}
.main .pNotFound {
  align-items: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 51.34px;
  text-align: center;
  color: #ff6060;
}
.main .backtoHome {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ff6060;
  position: relative;
  bottom: 15.53%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: underline;
  margin-bottom: 32px;
}

.hero {
  position: relative;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.hero img {
  width: 100vw;
  height: 223px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left center;
  object-position: left center;
  border-radius: 25px;
  background: black;
  mix-blend-mode: darken;
}

.collapsCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}
.collapsCollection .collapsible {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 16px;
  height: 47px;
  width: 80%;
  border-radius: 5px;
}
.collapsCollection .content {
  padding: 32px 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  color: rgb(255, 96, 96);
  width: 80%;
  border-radius: 0 5px;
}

.hero {
  position: relative;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 32px;
}

.hero h1 {
  color: white;
  position: absolute;
  left: 20vw;
  z-index: 1;
  font-size: 48px;
  line-height: 68px;
}

.hero img {
  width: 100vw;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
  border-radius: 25px;
  background: black;
  filter: brightness(0.7);
}

.locationCards {
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
  margin: 64px;
  flex-wrap: wrap;
  padding: 32px 16px;
}
.locationCards a {
  text-decoration: none;
}
.locationCards .card {
  width: 30%;
  height: 340px;
  max-height: 30%;
  border-radius: 15px;
  background-color: #ff6060;
}
.locationCards .card .imgAppt {
  width: 100%;
  height: 80%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.locationCards .card .cardP {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  color: white;
  font-size: 16px;
}

.hero {
  position: relative;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 32px;
}
.hero img {
  width: 100vw;
  height: 423px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left center;
  object-position: left center;
  border-radius: 25px;
  background: black;
  mix-blend-mode: darken;
}
.hero .chevrons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  color: white;
  z-index: 2;
}
.hero .chevrons .chevronG {
  display: flex;
  border: 1px solid red;
}
.hero .chevrons .chevronD {
  display: flex;
  position: relative;
  border: 1px solid red;
}

.collapse-Logement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
  gap: 128px;
}
.collapse-Logement .collapsible {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 16px;
  height: 47px;
  width: 80%;
  border-radius: 5px;
}
.collapse-Logement .content {
  padding: 32px 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  color: rgb(255, 96, 96);
  border-radius: 0 5px;
}/*# sourceMappingURL=style.css.map */